*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, p {
    
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Crete Round',Georgia,'Times New Roman',serif;
    font-style: italic;
    font-size: 24px;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

p {
    font-family: 'Crete Round',Georgia,'Times New Roman',serif;
    line-height: 1.6;
    font-size: 14px;
}

#groenebalk{
    background-color: #006341;
    min-height: 10px;
}


/* nav */
header nav{
    background-color: #f0f0f0;
    padding-top: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
}

header nav img {
    width: 30px;
}

header nav a img{
    width: 15px;
margin-right: 15px;
}

.logo {
    width: auto;
    margin-right: 25px;
}


/* Hamburger menu */
.hamburger-menu {
    text-transform: uppercase;
    letter-spacing: .18em;
    font-family: Lato,Helvetica,Arial,sans-serif;
    background-color: black;
    padding: 10px;
}
.hamburger-menu ul li a {
    color: white;
    text-decoration: none;
    line-height: 1.6;
    font-size: 14px;
}
.hamburger-menu ul {
    list-style-type: none;
}

header button {
    border: none;
}

header nav .hamburger-menu {
    opacity: 0;
    transform: translateX(100%);
    transition-duration: 0.5s;
}

header nav .hamburger-menu.anders {
    opacity: 1;
    transform: translateX(0%);
}


/*Onze koffie*/
.onzekoffieachtergrond {
    position: relative;
    background-image: url("https://www.starbucks.nl/media/Coffee-Hero_tcm15-3963.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #0f0f0f;
    height: 500px;
    width: 100%;
}

.onzekoffie {
    position: absolute;
    left:0em;
    right:0em;
    bottom:0em;
    padding: 1em;
    text-align:center;
    color:white;
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.onzekoffie p {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.onzekoffie button {
    padding: 10px 28px;
    color: white;
    background:  transparent;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    border:  2px solid white;
    border-radius: 4px;
}

.onzekoffie h1, p, button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.onzekoffie button:hover {
    color: white;
    background-color: #006341;
}


/*Koffiezoeker*/
.koffiezoeker {
    padding: 1em;
    text-align:center;
    background-color: #efefef;
    height: 550px;
    width: 100%;
}

.koffiezoeker img {
    max-width: 100%;
    height: auto;
}

.koffiezoeker a {
    color: #000000;
    font-weight: 700;
    text-decoration-style: dotted;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}


/*Zeldzaam*/
.zeldzaamachtergrond {
    position: relative;
    background-image: url("https://www.starbucks.nl/media/Reserve-Coffee-Background_tcm15-3969.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #0f0f0f;
    height: 600px;
    width: 100%;
}

.zeldzaam {
    position: absolute;
    left:0em;
    right:0em;
    bottom:0em;
    padding: 2em;
    text-align:center;
    color:white;
}

.zeldzaam img {
    max-width: 100%;
    height: auto;
}


/*Koffiezetter*/
.koffiezetten {
    background-color: #1b1f23;
    padding: 2em;
    height: 600px;
    width: 100%;
    color: white;
}

.koffiezetten img {
    margin-right: 20px;
    margin-left: -15px;
}

.koffiezetten h3 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .12em;
    word-spacing: 1px;
    font-size: 14px;
}

.koffiezetten ul li {
    list-style-type: none;
    margin-bottom: 0;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 12px;
}


/*Koffiezoeker pagina 2*/
.koffiezoekbg {
    box-sizing: border-box;
    overflow: hidden;
    background: url("https://www.starbucks.nl/static/images/bg-finder-top.png");
    padding-bottom: 150px;
    position: relative;
    transition: all .1s ease-out;
    

}

.koffiezoekcontainer h3{
    font-size: 20px;
    font-family: 'Crete Round',Georgia,'Times New Roman',serif;
    font-style: italic;
    padding-bottom: 10px;
}
.koffiezoekcontainer h2 {
    
    font-family: Lato,Helvetica,Arial,sans-serif;
}

.koffiezoekcontainer {
    margin: auto;
    padding: 10px;

}

.grid {
    
    margin: 20px 10px 10px 30px;
    height: 450px;
}

figure {
    line-height: 1.5em;
    vertical-align: top;
    padding-bottom: 20px;
    max-width: 100px;
    margin: 0 12px 6px;
    display: inline-block;
}

figure img{
    max-width: 100%;
}

figcaption {
    font-size: 10px;
    font-weight: 700;
    font-family: Lato,Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3 span {
    text-decoration-style: dotted;
}


/*Footer*/

footer {
    
    font-family: Lato,Helvetica,Arial,sans-serif;
    background-color:#f0f0f0;;
}

.footer-top {
    padding: 25px;
    border-bottom: 1px solid #b3b3b3;
}

.footer-top a img{
    width: 15px;
}


.footer-dropdown a{
    color: #3d3935;
    padding: 18px;
    text-decoration: none;
}

.footer-dropdown li{
    margin: 0 0 20px;
}

.footer-dropdown h4 {
    padding: 18px 0;
}

.footer-dropdown h4 a{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
    position: relative;
}

.footer-dropdown h4 label{
    padding: 10px 20px;
    display: inline-block;
    float: right;
}


.footer-onder ul li{
    margin-bottom: 18px;
}

.footer-onder ul li a {
    
    color: #3d3935;
  text-decoration: none;
}

/* Footer actief */

.overOns {
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.5s;
}

.overOns.actief {
    opacity: 1;
    transform: translateY(0%);
}

.bedrijfsleven {
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.5s;
}

.bedrijfsleven.actief {
    opacity: 1;
    transform: translateY(0%);
}

.handigeLinks {
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.5s;
}

.handigeLinks.actief {
    opacity: 1;
    transform: translateY(0%);
}

