*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, p {
    
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Crete Round',Georgia,'Times New Roman',serif;
    font-style: italic;
    font-size: 24px;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

p {
    font-family: 'Crete Round',Georgia,'Times New Roman',serif;
    line-height: 1.6;
    font-size: 14px;
}

#groenebalk{
    background-color: #006341;
    min-height: 10px;
}

header nav{
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}

header nav a img{
    max-width: 15px;
}

form {
    position:fixed;
	left:0; right:0;
    top:0;
    transform:translateY(-100%);
}

form.toonForm {
	transform:translateY(0%);
}

.hamburger {

   position:absolute;
   width:7em;
   margin:0; padding:.25em;
   
   top:100%;
   left:calc(50% - 3.5em);
   
   
   font-size:1em;
   font-weight:normal;
   text-align:right;
   line-height:2em;
   
   background-color:inherit;
   cursor:pointer;
}

fieldset {
    --humptieSize:3.5rem;
    position:relative;
    max-width:36em;
    margin:0 auto;
    padding:0;
    border:none;
}

fieldset div {
    margin:0 ;
    padding:var(--humptieSize) 0 calc(var(--humptieSize) / 2);
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(8.5em, 1fr));
}



.onzekoffieachtergrond {
    position: relative;
    background-image: url("https://www.starbucks.nl/media/Coffee-Hero_tcm15-3963.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #0f0f0f;
    height: 500px;
    width: 100%;
}

.onzekoffie {
    position: absolute;
    left:0em;
    right:0em;
    bottom:0em;
    padding: 1em;
    text-align:center;
    color:white;
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.onzekoffie h1, p, button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.onzekoffie p {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.onzekoffie button {
    padding: 10px 28px;
    color: white;
    background:  transparent;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    border:  2px solid white;
    border-radius: 4px;
}


.koffiezoeker {
    padding: 1em;
    text-align:center;
    background-color: #efefef;
    height: 550px;
    width: 100%;
}

.koffiezoeker img {
    max-width: 100%;
    height: auto;
}

.koffiezoeker a {
    color: #000000;
    font-weight: 700;
    text-decoration-style: dotted;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}



.zeldzaamachtergrond {
    position: relative;
    background-image: url("https://www.starbucks.nl/media/Reserve-Coffee-Background_tcm15-3969.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #0f0f0f;
    height: 600px;
    width: 100%;
}

.zeldzaam {
    position: absolute;
    left:0em;
    right:0em;
    bottom:0em;
    padding: 2em;
    text-align:center;
    color:white;
}

.zeldzaam img {
    max-width: 100%;
    height: auto;
}



.koffiezetten {
    background-color: #1b1f23;
    padding: 2em;
    height: 600px;
    width: 100%;
    color: white;
}

.koffiezetten ul li {
    list-style-type: none;
    margin-bottom: 0;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.koffiezetten img {
    margin-right: 20px;
    margin-left: -15px;
}

.koffiezetten h3 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .12em;
    word-spacing: 1px;
    font-size: 14px;
}

/*Koffiezoeker pagina 2*/
.koffiezoekbg {
    box-sizing: border-box;
    overflow: hidden;
    background: url("https://www.starbucks.nl/static/images/bg-finder-top.png");
    padding-bottom: 150px;
    position: relative;
    transition: all .1s ease-out;
    

}
.koffiezoekcontainer h3{
    font-size: 20px;
    font-family: 'Crete Round',Georgia,'Times New Roman',serif;
    font-style: italic;
    padding-bottom: 10px;
}
.koffiezoekcontainer {
    margin: auto;
    padding: 10px;

}

/* Footer overflow hidden, opties staan in een carousel, scrolled doormiddel van click*/
.grid {
    height: 700px;
}

figure {

    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
    vertical-align: top;
    padding-bottom: 20px;
    max-width: 100px;
    margin: 0 12px 6px;
    display: inline-block;
}
figure img{
    max-width: 100%;
}


/*Footer*/
.footer-top {
    padding: 25px;
    border-bottom: 1px solid #b3b3b3;
}

.footer-top a img{
    width: 15px;
}
.footer-dropdown h4 a{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
    position: relative;
}

.footer-dropdown a{
    color: #3d3935;
    padding: 18px;
    text-decoration: none;
}

.footer-dropdown li{
    margin: 0 0 20px;
}

.footer-dropdown h4 label{
    padding: 10px 20px;
    display: inline-block;
    float: right;
}

footer {
    background-color: white;
}